*{
  margin: 0;
  box-sizing: border-box;
}

.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222f3e;
  height: 100vh;
  width: 100vw;
}

#left-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  width: 50px;
  position: fixed;
  left: 10px;
  top: calc(50% - 150px);
}

/* .nav-buttons:hover{
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));
} */
#progressBar{
  width: 100px;
  height: 10px;
  background-color: white;
}
#progressBarContainer{
  display: flex;
  align-items: center;
}
#progress{
  margin-left: 10px;
}